#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_install:
	mkdir -p $$(pwd)/debian/nagios-monit/usr/lib/nagios/plugins
	cp check_monit.rb $$(pwd)/debian/nagios-monit/usr/lib/nagios/plugins

	mkdir -p $$(pwd)/debian/nagios-monit/etc/nagios-plugins/config/
	cp check_monit.cfg $$(pwd)/debian/nagios-monit/etc/nagios-plugins/config/
